.lalala{
	background-color: #efefef;
	height: 0.32rem;
}
h1{
	height:1.466667rem;
	background-color: #f9fafd;
	text-align: center;
	line-height: 1.466667rem;
	    font-size: 0.453333rem;
    font-weight: 520;
}
.dizhi{
	    width: 100%;
    background-image: url(../../img/10.png),url(../../img/10.png);
    background-repeat: repeat-x;
    background-position: left top,left bottom;
    background-size: auto 0.08rem;
    padding-top: 0.026667rem;
    padding-bottom:0.24rem;
}
.dizhi pre{
	    font-size: 0.48rem;
    margin-top: 0.186667rem;
}
.beizhu{
	width: 100%;
	position: relative;
}
.beizhu p{
	font-size:0.373333rem;
	color:gray;
	text-indent: 0.426667rem;
}
.beizhu p:first-of-type{
	margin-bottom: 0.48rem;
}
.beizhu p:first-of-type::before{
 background-color: #ffd600;
    content: '';
    display: inline-block;
    width: 0.106667rem;
    height: 0.453333rem;
    vertical-align: -0.106667rem;
    border-radius: 0.106667rem;
    margin-right: 0.16rem;
}
.beizhu p:last-of-type{
	padding-bottom: 0.133333rem;
	border-bottom: 1px solid #e0e0e0;

}
.beizhu pre{
	height:1.6rem;
	line-height: 1.6rem;
	font-size: 0.453333rem;
    color: black;
    font-family: -webkit-body;
}
.beizhu pre input{
	    height: 0.96rem;
    width: 6.453333rem;
    font-size: 0.426667rem;
    color: gray;
    text-indent: 0.133333rem;
    border: 1px solid gray;
    border-radius: 0.106667rem;
}
.beizhu span{
	position: absolute;
	    right: 0.48rem;
    top: 0.32rem;
    border: 1px solid red;
    color: red;
    font-size:0.373333rem;
    padding: 0.16rem 0.4rem;
    border-radius: 0.373333rem;
}
.jiesuan span{
	height:1.6rem;
	line-height: 1.6rem;
	font-size: 0.426667rem;
	display: block;
	float: left;
}
.jiesuan span:last-of-type{
	width:3.2rem;
	text-align: center;
	background-color: yellow;
	float: right;
}
.mybuy div{
	height:2.56rem;
}
.mybuy .tubiao{
	float:left;
	width: 1.6rem;
}
.mybuy .tupian{
	float: left;
	width:1.6rem;
	vertical-align: center;
}
.mybuy .tupian img{
	width: 1.6rem;
	height:1.6rem;
}
.mybuy .miaoshu{
	float: left;
}
.mybuy .miaoshu p{
	height:1.253333rem;
    line-height: 1.253333rem;
    font-size: 0.426667rem;
    text-indent: 0.48rem;
}
.mybuy .add1{
	position: absolute;
	    left: 7.466667rem;
    top: 1.146667rem;
}
.mybuy .add1 a:first-of-type,.mybuy .add1 a:last-of-type{
    display: inline-block;
    height: 0.853333rem;
    width:0.853333rem;
    border: 1px solid orange;
    color:orange;
    border-radius: 50%;
    text-align: center;
    font-size: 0.64rem;
     line-height:0.82rem;
}
